* {
    margin: 0;
    padding: 0;
}

p {
    max-width: 65ch;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 100px 1rem 100px;
    border-bottom: 2px solid #38383825;
}

nav ul {
    list-style: none;
    display: flex;
}

.nav-left {
    display: flex;
    align-content: center;
}

.nav-left * {
    margin: 0 .5rem;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-right * {
    margin: 0 .5rem;
}

nav li {
    height: 100%;
    display: flex;
    align-items: center;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
}

img {
    object-fit: cover;
    border-radius: 16px;
}

.item-showcase {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

.item-desc-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.tagline {
    opacity: 60%;
}

.name-wrap {
    display: flex;
    flex-direction: column;
}

.price-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price {
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.discount {
    margin-left: 1rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color:white;
    background-color: black;
    border-radius: 12px;
    font-weight: bold;
}

.ori-price {
    opacity: 60%;
    text-decoration: line-through;
}

.cta-wrapper {
    display: flex;
}

.quantity-wrapper {
    width: 40%;
    background-color: #FAF9F6;
    padding: 0px 16px 0px 16px;
    margin-right: 1rem;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: hsl(26, 100%, 55%);
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 16px;
    padding: 1rem;
}

.cta-button * {
    margin: 0 0.5rem 0 0.5rem;
}

.shoe-wrapper {
    width: 50%;
    display:flex;
    flex-direction: column;

}

.main-image-wrapper {
    overflow:hidden;
    
}

.main-image {
    max-height: 23rem;
}


.sub-image-wrapper {
    display: flex;
    margin-top: 1rem;
}

.sub-img {
    display: flex;
    flex-direction: row;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}