* {
    margin: 0;
    padding: 0;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 1rem;
    background-color: white;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

dialog[open] {
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#close-icon {
    position: absolute;
    top: 2%;
    right: 1rem;
    cursor: pointer;
}



.dialog-image-wrapper img {
    width: 100%;
}

p {
    max-width: 65ch;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 0 10rem;
    border-bottom: 2px solid #38383825;
}

nav ul {
    list-style: none;
    display: flex;
}

.nav-left {
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-left * {
    margin: 0 0.5rem;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-right * {
    margin: 0 0.5rem;
}

nav li {
    height: 100%;
    display: flex;
    align-items: center;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
}

img {
    object-fit: cover;
    border-radius: 16px;
}

.item-showcase {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.item-desc-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tagline {
    opacity: 60%;
}

.name-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.price-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
    margin-bottom: 2rem;
}

.prod-desc {
    margin-bottom: 1rem;
}

.markdown {
    display: flex;
    width: 100%;
    align-items: center;
}

.markdown * {
    margin-bottom: 0.3rem;
}

.price {
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.discount {
    padding: 0.25rem 0.5rem;
    color: white;
    background-color: black;
    border-radius: 12px;
    font-weight: bold;
}

.prev-price {
    width: 100%;
    justify-content: start;
}

.ori-price {
    opacity: 60%;
    text-decoration: line-through;
}

.cta-wrapper {
    display: flex;
}

.quantity-wrapper {
    width: 20%;
    background-color: #FAF9F6;
    font-weight: bold;
    padding: 0 16px;
    margin-right: 1rem;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: hsl(26, 100%, 55%);
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 16px;
    padding: 1rem;
}

.cta-button * {
    margin: 0 0.5rem;
}

.shoe-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.main-image-wrapper {
    overflow: hidden;
}

.main-image {
    max-height: 23rem;
}

.sub-image-wrapper {
    display: flex;
    margin-top: 1rem;
    cursor: pointer;
}

.sub-img {
    display: flex;
    flex-direction: row;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}

#minus, #plus {
    cursor: pointer;
}